body {
  background-color: whitesmoke;
  
}

h2 {
  color: black;
  font-size: 300%;
  font-family: verdana;
  border: 10px solid orange;
  padding: 3%;
  margin: 5%;
  
}

.secondary {
  color: orange;
  
}
.yt {
  color: red;
  
}
.map {
  color: green;
  
}

p {
  color: black;
  font-size: 115%;
  font-family: courier;
  
}